:root {
    --fade-in-time: .2s;
}
.controls {
    margin: 10px;
}
.button {
    margin: 5px;
}
.Board {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
}

.Cell {
    background: #ccc;
    position: absolute;
    animation: fadeIn ease var(--fade-in-time);
    -webkit-animation: fadeIn ease var(--fade-in-time);
    -moz-animation: fadeIn ease var(--fade-in-time);
    -o-animation: fadeIn ease var(--fade-in-time);
    -ms-animation: fadeIn ease var(--fade-in-time);
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}
